{% extends 'travello/base.html' %}

{% block title %}
Destinos Turísticos
{% endblock %}

{% block content %}

<div class="contenedor">

    {% for destino in destinos %}

    <div class="card">

        {% if destino.imagenCiudad %}
        <img src="{{ destino.imagenCiudad.url }}"
             alt="{{ destino.nombreCiudad }}">
        {% endif %}

        <div class="card-body">

            <h2>{{ destino.nombreCiudad }}</h2>

            <p>
                {{ destino.descripcionCiudad }}
            </p>

            <p class="precio">
                S/. {{ destino.precioTour }}
            </p>

            {% if destino.ofertaTour %}
            <span class="oferta">
                OFERTA ESPECIAL
            </span>
            {% endif %}

            <div class="acciones">
                <a href="{% url 'modificar_destino' destino.id %}">
                    Editar
                </a>

                <a href="{% url 'eliminar_destino' destino.id %}">
                    Eliminar
                </a>
            </div>

        </div>

    </div>

    {% empty %}

    <h2>No existen destinos registrados</h2>

    {% endfor %}

</div>

{% endblock %}